{% extends 'front.html.twig' %}

{% block title %}Evaluation index{% endblock %}

{% block body %}
    <h1>Evaluation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdEvaluation</th>
                <th>NbStars</th>
                <th>Book</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.idEvaluation }}</td>
                <td>{{ evaluation.nbStars }}</td>
                <td>{{ evaluation.idLivre.titre }}</td>
                <td>
                    <a href="{{ path('evaluation_show', {'idEvaluation': evaluation.idEvaluation}) }}">show</a>
                    <a href="{{ path('evaluation_edit', {'idEvaluation': evaluation.idEvaluation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evaluation_new') }}">Create new</a>
{% endblock %}
